@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0d;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
}

@layer components {
  .image {
    -webkit-mask-image: url("./utils/donut-mask.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    mask-image: url("./utils/donut-mask.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
  }
  .img-container {
    perspective: 1000px;
  }
  
  .image {
    transform-origin: center center;
  }
  
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
  }
  .prespective{
    perspective: 2200px;
  }
}
